/*--Master Branch--*/
/*-------------------- General CSS ----------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.main-container{
    
}
.container{
    width: 900px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col1{
    display: grid;
    grid-template-columns: auto;
}
.col2{
    display: grid;
    grid-template-columns: auto auto;
}
.col3{
    display: grid;
    grid-template-columns: auto auto auto;
}
.bg-darkblue1{
    background-color: #061034;
}
/*Media Query*/
/* @media only screen and (max-width: 550px){
    .col3{
        display: grid;
        grid-template-columns: auto auto;
    }
} */
/*..Media Query*/
/*-------------------- ./General CSS ----------------------------*/
/*-------------------- Header CSS ----------------------------*/
.header-background{
    background-image: url("img/Christ-Church.png");
    height: 550px;
    background-size: cover;
}
.menu{
    margin-top: 60px;
    position: absolute;
}
.menu ul{
    list-style-type: none;
    background-color: white;
    width: 880px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu ul li{
    display: inline-block;
    /* padding: 0px 5px 20px 5px; */
    
}
.menu ul li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 20px 10px;
    font-weight: 700;
    background-color: white;
    text-align: center;
    z-index: 1;
}
.menu .left{

}
.right-link{
    background-color: red;
}
.menu ul li a .career{
    font-size: 22px;
    font-weight: 1000;
    color: #2A80B9;
}
.menu ul li a .learn{
    font-size: 11px;
    word-spacing: 5px;
}


/*-------------------- ./Header CSS ----------------------------*/